<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Zapytanie złożone pomyślnie</h2>
        <p>Nasz pracownik skontaktuje się z Państwem</p>
        <hr />
        <p>Dziękujemy!</p>
    </div>
</div>